@font-face {
	font-family: 'Bicro';
	src: url('../fonts/bicro.ttf') format('truetype')
}

:root {
    --orange-color: #ff5602;
    --night-blue-color: #153e4d;
    --violet-color: #6451CE;
    --gray-light: rgb(230, 227, 227);
    --gold: #ffd700;
}

.bg-violet {
    background-color: var(--violet-color);
}

.bg-orange {
    background-color: var(--orange-color);
}

.bg-gray-light {
    background-color: var(--gray-light);
}

.type {
    color: var(--orange-color);
    text-transform: uppercase;
    font-size: 14px;
    line-height: 16px;    
}

.label {
    font-size: 20px;
    line-height: 22px;
    overflow: hidden;
}

.type, .label {
    font-family: Montserrat,Arial;
    font-weight: 700;
}

.header-img {
    background-image: url('../images/fond2.jpg');
    background-size: cover;
    background-position-y: -120px;
    height: 450px;
}

.header-filter {
    background-color: var(--night-blue-color);
}

.header-label, .footer {
    color: #fff;
    font-weight: 700;
    font-size: 15px;
    text-decoration: none !important;
    letter-spacing: -.4px;
    z-index: 2;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

.logo {
    font-family: 'Bicro', sans-serif;
    font-size: 100px;
    font-weight: 500;
    color: var(--gold);
    text-shadow: 2px 2px var(--orange-color);
    filter: brightness(1.75);
}

.logo + div {
    font-family: sans-serif;
    font-size: 24px;
    text-shadow: 2px 2px gray;
    color: white;
}

.footer, .services {
    color: white;
}

.footer .social-media {
    padding: 10px 20px;
}

.services {
    padding: 20px;
    background-color: #1C2431;
}

.services .label {
    text-transform: uppercase;
}

.bg-dark-footer {
    background-color: #151B29;
    padding: 20px 0px;
    color: white;
}

ul.list-arrow {
    list-style: none;
}

ul.list-arrow li:before {
    content: "→ ";
}

ul.list-arrow > li > a {
    text-decoration: none;
    color: white;
}

ul.list-arrow > li > a:hover {
    color: var(--violet-color);
}

.fiche > div:nth-child(2n + 1) {
    background-color: #f5f5f5;
}

.nav.nav-tabs > .nav-item > a {
    color: black!important;
}

.breadcrumb-header {
    background-color: var(--night-blue-color);
    border-radius: 10px 10px 0px 0px;
}

.breadcrumb-header a, .breadcrumb-header li {
    color: white;
}

.miniature {
    width: 125px; 
    height: 100px; 
    object-fit: cover
}

.apercu {
    width: 408px; 
    height: 306px; 
    object-fit: cover
}

#big {
    width: 1290px; 
    height: 800px; 
    object-fit: cover;
}

.tabs .nav-item {
    width: 190px;
}

.tabs .nav-item a {
    padding: 20px 0px;
    text-align: center;
    font-size: 14px;
}

.tabs .nav-item a:not(.active) {
    background-color: #e7e7e7!important;
}

.label.description {
    font-size: 0.8rem;
    font-weight: 500;
    color: gray;
    margin-bottom: 0.2rem;
    line-height: 0.7rem;
}

.funding > div:nth-child(even){
    background-color: gray;
    color: white;
}

img.side {
    object-fit: contain; 
    object-position: center;
}

.gradient {
    background: rgb(209,208,208);
    background: linear-gradient(90deg, #d1d0d0 0%, #f2f1f1 43%, #ffffff 100%);
}

